<div class="drop">
    <div class="sec sec1">
        <h2>
            drop-shadow VS box-shadow
        </h2>
        <p class="drop-box"></p>
        <p class="box-box"></p>
    </div>
    <div class="sec sec2">
        <h2>
            what's different
        </h2>
        <p class="a drop-box"></p>
        <p class="b box-box"></p>
    </div>
    <div class="sec sec3">
        <h2>
            through the tranparents
        </h2>
        <p class="c"></p>
        <p class="d"></p>
    </div>
    <div class="sec sec4">
        <h2>what can be resolved</h2>
        <p class="e"></p>
    </div>
    <div class="sec sec5">
        <h2>in drop-shadow</h2>
        <p class="f"></p>
    </div>
    <div class="sec sec6">
        <h2>dark witchcraft!!</h2>
        <p class="g">
            <i class="icon jsIcon"></i>
        </p>
        <p id="pick">选择颜色</p>
    </div>
    <div class="sec sec7">
        <h2>compatibility</h2>
        <iframe width="100%" height="420" src="http://caniuse.com/css-filters/embed" frameborder="0"></iframe>
    </div>
    <div class="sec sec8">
        <a class="back" href="/">回到首页</a>
    </div>
</div>
