<span id="PG" data-pg="news"></span>
<span id="CPG" data="{{currentPage}}"></span>
<span id="TIT" data="{{totalNews}}"></span>
<div class="news-banner-box">
    <div class="mask">
        <div class="c-row">
            <h2 class="banner-title" data-aos="fade-left" data-aos-duration="750" data-aos-once="true">新闻中心</h2>
            <p class="cs-title" data-aos="fade-right" data-aos-duration="750" data-aos-delay="10" data-aos-once="true">2016，辰森世纪全力加速中！</p>
            <a href="/about" class="contact-us-button" data-aos="fade-up" data-aos-duration="600" data-aos-delay="150" data-aos-once="true" data-aos-easing="ease-out">
                了解我们
            </a>
        </div>
    </div>
</div>
<div class="news-content-box">
    <div class="news-body-box c-row s">
        {{each newsList}}
            <div class="news-block" data-aos="fade-up" data-aos-duration="800" data-aos-once="true" data-aos-offset="10">

                <div class="ab-wrap">
                    <a href="/news/{{$value.title}}"><h3 class="news-title"><i class="iconfont">&#xe605;</i> {{$value.title}}</h3></a>
                    <p class="time">{{$value.d}} / {{$value.y}}</p>
                    <p class="news-abs">{{#$value.content}}</p>

                    <a class="read-more" href="/news/{{$value.title}}"><i class="iconfont">&#xe609;</i> 阅读全文 </a>
                </div>

            </div>
        {{/each}}
    </div>
    <div id="page" class="pager">

    </div>
</div>
