<div class="pseudo">
    <div class="sec sec1">
        <h2>hover/active change color</h2>
        <button class="btn cgbg">I'm Button</button>
    </div>
    <div class="sec sec2">
        <h2>kill br</h2>
        <div><span class="br">我是行内元素</span>
            <span class="br">但是我想换行</span>
            <span class="br">可以吗</span></div>

    </div>
    <div class="sec sec3">
        <h2>extend click area</h2>
        <button class="btn ex"></button>
    </div>
    <div class="sec sec4">
        <h2>tool-tip</h2>
        <button class="btn tool-tip" data-hover="hovered" data-active="actived">I'm Button</button>
    </div>
    <div class="sec sec8">
        <a class="back" href="/">按B回城</a>
    </div>
</div>