<span id="PG" data-pg="news"></span>
<span id="CPG" data="{{currentPage}}"></span>
<span id="TIT" data="{{totalNews}}"></span>
<div class="news-banner-box sp">
    <div class="mask">
        <div class="c-row">
            <h2 class="banner-title small" data-aos="fade-left" data-aos-duration="750" data-aos-once="true">{{newsTitle}}</h2>
            <a href="/news" class="contact-us-button sp" data-aos="fade-up" data-aos-duration="600" data-aos-delay="150" data-aos-once="true" data-aos-easing="ease-out">
                返回
            </a>
        </div>
    </div>
</div>

<div class="specific-news-box c-row s">
    {{#newsContent}}
</div>