<div class="writing">
    <div class="sec sec1">
        <h2>Original idea</h2>

        <b class="wm vrl"><h4>望江南·超然台作</h4>春未老，风细柳斜斜<br>试上超然台上望<br>半壕春水一城花<br>烟雨暗千家<br>寒食后，酒醒却咨嗟<br>休对故人思故国<br>且将新火试新茶<br>诗酒趁年华</b>
    </div>
    <div class="sec sec2">
        <h2>in CSS3</h2>
        <b class="wm vlr"><h4>望江南·超然台作</h4>春未老，风细柳斜斜<br>试上超然台上望<br>半壕春水一城花<br>烟雨暗千家<br>寒食后，酒醒却咨嗟<br>休对故人思故国<br>且将新火试新茶<br>诗酒趁年华</b>
        <b class="wm">碧玉妆成一树高<br>万条垂下绿丝绦<br>不知细叶谁裁出<br>二月春风似剪刀<h4>咏柳</h4></b>
        <b class="wm vrl"><h4>浣溪沙</h4>蔌蔌衣巾落枣花，村南村北响缫车<br>牛衣古柳卖黄瓜<br>酒困路长惟欲睡，日高人渴漫思茶<br>敲门试问野人家</b>
    </div>
    <div class="sec sec3">
        <h2>in CSS2(IE)</h2>
        <img class="IEWM" src="imgs/IEWM.png" alt="">
    </div>
    <div class="sec sec4">
        <h2>writing-mode && margin</h2>
        <div class="mgcd vrl">
            <span class="m20"></span>
            <span class="m20"></span>
            <span class="m20"></span>
            <span class="m20"></span>
            <span class="m20"></span>
            <span class="m20"></span>
            <img src="imgs/test.gif" class="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;? ? ?
        </div>
    </div>
    <div class="sec sec5">
        <h2>writing-mode && text-align</h2>
        <div class="mgcd vrl tac">
            <img src="imgs/test.gif" class="test">
            <img src="imgs/test2.gif" class="test test2">
        </div>
    </div>
    <div class="sec sec6">
        <h2>open ur brian hole</h2>
        <h2>。。。</h2>
    </div>
    <div class="sec sec8">
        <a class="back" href="/">搓个炉石</a>
    </div>
</div>