<div class="nav-box">
    <div class="c-row cf">
        <a class="logo fl" href="/">
            <img src="imgs/logo.png" alt="ChenSen" class="l">
        </a>
        <div class="nav-body fr">
            <div class="nav-contact mb-hide">
                <spn class="unit">
                    <i class="iconfont">&#xe600;</i>
                    客户专线 4008-100-167
                </spn>
                <spn class="unit">
                    服务时间: 09:00 - 21:00
                </spn>
                <!--<spn class="unit">-->
                    <!--OA平台入口-->
                <!--</spn>-->
            </div>
            <ul id="nav" class="nav cf">
                <li class="nav-title pc-hide">
                    导航
                </li>
                <li class="nav-unit"><a href="/" class="n">首页</a></li>
                <li class="nav-unit"><a href="/solution" class="n">解决方案</a></li>
                <li class="nav-unit"><a href="/production" class="n">产品及服务</a></li>
                <li class="nav-unit"><a href="/case" class="n">客户案例</a></li>
                <li class="nav-unit"><a href="/news" class="n">新闻中心</a></li>
                <li class="nav-unit"><a href="/about" class="n">关于我们</a></li>
                <li class="mob-nav-contact pc-hide">
                    <a class="contact-field" href="tel:4008-100-167">
                        <i class="iconfont">&#xe602;</i>
                        4008-100-167
                    </a>
                    <a class="contact-field" href="mailto:sales@choicesoft.com.cn">
                        <i class="iconfont">&#xe603;</i>
                        sales@choicesoft.com.cn
                    </a>
                    <p class="contact-field">
                        <i class="iconfont">&#xe604;</i>
                        451578533
                    </p>

                </li>
            </ul>
        </div>
        <div class="hamburger-menu pc-hide">
            <div class="bar"></div>
        </div>
    </div>

</div>
